<div id="<%= dom_id order %>">
  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= order.item_id %>
  </p>

  <p>
    <strong>Addon:</strong>
    <%= order.addon_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= order.note %>
  </p>

</div>
